@charset "UTF-8";


@font-face {
    font-family: 'Suit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}
html * {
	font-family: 'Suit';
}

body {
	margin: 0;
	padding: 0;
}

section {
	display: flex;
	justify-content: space-between;
}

/* header  */
.top {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.top > a {
	padding: 17px;
	font-size: 22px;
	margin-right: 40px;
	text-align:center;
}

.logo {
	display: flex;
	justify-content: center;
}
.logo > a {
	font-size: 31px;
	font-weight: bold;
	padding: 20px;
	margin-left: 60px;
}

/* lorem */
.main {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 90px;
}
.main_title {
	font-size: 28px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 30px;
}

/* 리스트 */
.list {
	margin-top: 70px;
}
.list table {
	margin-left: auto;
	margin-right: auto;
	width: 500px;
}

.list div {
	text-align: center;
	margin-bottom: 15px;
	margin-top: 7px;
}

.list .top_name {
	font-size: 25px;
	font-weight: bold;
}

.list table tr th {
	padding: 5px 30px;
}

.list table tr td {
	padding: 6px 20px;
	text-align: center;
}

.list .btn > a {
	padding: 2px;
	border-radius: 5px;
	border: 1px solid black;
}

button {
	border: 1px solid black;
	border-radius: 5px;
	padding: 2px;
}
/* 로그인 시 환영 멘트 */
.header .top .ment {
	display: flex;
	align-items: center;
	font-weight: bold;
	padding: 0 35px;
	margin-top: 7px;
}

.dropdown {
	padding: 18px;
	font-size: 22px;
	margin-right: 40px;
	text-align:center;
	position: relative;
}

/* 리스트 2차 메뉴  */
.dropdown > ul {
	position: absolute;
	font-size: 18px;
	width: 120px;
	text-align: left;
	top: 70%;
	display: none;
	margin: 0;
	background-color: #e6e8eb;
}

.dropdown:hover > ul{
	margin-top: 5px;
	display: block;
}

.dropdown > ul > li {
	padding:8px 8px;
}

.dropdown ul li:hover {
	background-color: #d8e0ed;
}

.input_content {
	height: 400px;
}

.input_content > textarea {
	height: 100%;
	white-space: pre-wrap; 
}

<<<<<<< HEAD
.search {
=======
.searchBox {
>>>>>>> temp
	display: flex;
	justify-content: end;
	margin-right: 34%;
}

<<<<<<< HEAD
.search > select {
	margin-right: 5px;
}

.search > input {
=======
.searchBox > select {
	margin-right: 5px;
}

.searchBox > input {
>>>>>>> temp
	margin-right: 10px;
}